body {
    background-color: cadetblue;
}

.head {
    text-align: center;
    font-family: 'Gugi', cursive;
}

#time {
    font-size: 100px;
    color: white;
}

#date {
    font-size: 50px;
    color: white;
}

.weather {
    text-align: center;
    font-size: 30px;
    font-family: 'Cormorant Unicase', serif;
    font-weight: bold;
    color: #cecece;
    padding-bottom: 20px;
}

.style {
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
}