body {
    background-color: midnightblue;
}

.head {
    text-align: center;
    font-family: 'Gugi', cursive;
}

#time {
    font-size: 100px;
    color: white;
}

#date {
    font-size: 40px;
    color: white;
}

.weather {
    text-align: center;
    font-size: 24px;
    font-family: 'Cormorant Unicase', serif;
    font-weight: bold;
}